*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #021526;
    --secondary-color: #03346E;
    --accent-color: #6EACDA;
    --text-color: #FFFFFF;
    --link-color: #FFFFFF;
    --link-hover-color: #E2E2B6;
    --gradient-bg: linear-gradient(315deg, var(--secondary-color)10%,var(--primary-color)80%);
}
html,body{
    color: var(--text-color);
    line-height: 1.5;
    font-size: 1rem;
    min-height: 100vh;
    text-align: center;
    background: var(--gradient-bg);
    font-family: "Akshar", sans-serif;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.5rem;
}
p{
    font-size: 3rem;
}
small{
    font-size: 3rem;
}
li{
    font-size: 3rem;
}
a{
    color: var(--text-color);
}
a:link{
    text-decoration: none;
}
a:hover{
    color: var(--link-hover-color);
}

ul{
    font-size: 2.5rem;
    list-style-type: none;
    flex-wrap: nowrap;
}
/* Header-start */
header{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 20%;
    padding: 2%;
}
.header-left{
    flex: 1;
}
.header-right{
    flex: 3;
    display: flex;
    justify-content: space-around;
}
/* Header-end */
/* main-start */
.main{
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 60%;
    padding:2%;
    text-align: left;
}
/* main-left-start */
.left{
    display: flex;
    flex-direction: column;
    min-width: 30%;
    gap: 2%;
}
.left-profile{
    max-width: 100%;
    height: auto;
    border-radius: 20%;
}
.left-text{
    flex-wrap: wrap;
    column-count: 2;
    min-height: auto;
}
.left-text li{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
}
.icon{
    max-width: 100%;
    height: 4rem;
}
/* main-left-end */
/* main-right-start */
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 70%;
    padding-left: 2%;
}
.video{
    display: flex;
    width: 100%;
    height: 30%;
    padding: 8px 0 8px 0;
}
.main-content ul{
    list-style-type: circle;
}
/* main-right-end */
/* main-end */
/* footer-start */
footer{
    min-height: 20% ;
    width: 100%;
    display: flex;
    padding:2%;
    background: var(--primary-color);    
}
.footer-left{
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.footer-left-item{
    display: flex;
    gap: 0.5rem;
}
.footer-left li{
    display:flex;
    gap: 1rem;
}
.footer-right{
    flex: 1;
}
.footer-right-item-container{
    min-height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* footer-end */
.timeline-container{
    min-height: 60%;
    width: 60%;
    margin: 0 auto;
    flex: 1;
    position: relative;
    padding: 2% 0 2% 0%;
}
.timeline-container::after{
    content: '';
    position: absolute;
    min-width: 0.5rem;
    height: 90%;
    background-color: white;
    top: 5%;
    bottom: 0;
    left: 50%;
}
.container{
    position: relative;
    width: 50%;
    text-align: left;
}
.container::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: -2%;
    bottom: 50%;
    background-color: white;
    border: 4px solid #FF9F55;
    border-radius: 50%;
    z-index: 1;
}
.left-timeline{
    left: 0%;
}
.right-timeline{
    left: 55%;
}
.right-timeline::after{
    left: -11%;
}
.container img{
    width: 70%;
    height: auto;
    margin-top: 1%;
}

.main-future{
    flex: 1;
    min-height: 60%;
    padding: 2%;
}
.main-text{
    width: 100%;
    min-height: 10%;
}
.container-future{
    width: 100%;
    min-height: 90%;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.main-future-content{
    width: 100%;
    border: var(--accent-color) solid 1px;
    border-radius: 4% 4% 4% 4%;
    margin: 2%;
}
.main-future-content p{
    text-align: left;
    margin: 0% 2% 0% 2%;
}
.main-future-content img{
    width: 60%;
    height: auto;
    margin-top: 5%;
}
/* Labtop L */
@media all and (max-width: 1440px) {
    #Logo{
        font-size: 2rem;
    }
    h1{
        font-size: 2.25rem;
    }
    h2{
        font-size: 2rem;
    }
    .icon{
        width: 2rem;
        height: auto;
    }
    p{
        font-size: 1.5rem;
    }
    li{
        font-size: 1.5rem;
    }
    .left-text{
        column-count: 1;
    }
}
/* Labtop */
@media all and (max-width: 1024px) {

    #Logo{
        font-size: 1.75rem;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.75rem;
    }
    p{
        font-size: 1.25rem;
    }
    li{
        font-size: 1.25rem;
    }

}
/* Tablet */
@media all and (max-width: 768px) {
    header{
        flex-direction: column;
        padding: 0;
    }
    header h2{
        font-size: 1.75rem;
    }
    .header-right{
        flex-direction: column;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left{
        min-width: 100%;
        align-items: center;
    }
    .left-profile{
        max-width: 25% ;
        height: auto;
    }
    .left-text{
        column-count: 2;
    }
    .main-content{
        padding: 0 8% 0 8%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main-content ul{
        text-align: left;
    }
    footer{
        flex-direction: column;
    }
    .footer-left{
        align-items: center;
        margin: 2%;
    }
    .footer-left-item-container{
        max-width: 70%;
    }
    .footer-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
    .footer-right-item-container{
        justify-content: space-evenly;
        min-width: 50%;
    }
    .video{
        display: flex;
        width: 50%;
        height: 30%;
    }
    #Logo{
        font-size: 2rem;
    }
    .icon{
        width: 1.5rem;
        height: auto;
    }
    h1{
        font-size: 1.75rem;
    }
    h2{
        font-size: 1.25rem;
    }
    p{
        font-size: 1.25rem;
    }
    li{
        font-size: 1.25rem;
    }
}
/* Mobile L */
@media all and (max-width: 425px) {
    header h2{
        font-size: 1.5rem;
    }
    #Logo{
        font-size: 1.75rem;
    }
    .icon{
        width: 1.25rem;
        height: auto;
    }
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }
    li{
        font-size: 1rem;
    }
}
/* Mobile S */
@media all and (max-width: 320px) {
    .left-profile{
        max-width: 50%;
    }
    header h2{
        font-size: 1.25rem;
    }
    .video{
        display: flex;
        width: 70%;
        height: 30%;
    }
    #Logo{
        font-size: 1.5rem;
    }
    .icon{
        width: 1.25rem;
        height: auto;
    }
    h1{
        font-size: 1.25rem;
    }
    h2{
        font-size: 0.75rem;
    }
    p{
        font-size: 0.75rem;
    }
    li{
        font-size: 0.75rem;
    }
}